.Button {
  margin: 10px 0;
  height: 30px;
  background-color: #476384;
  color: white;
  outline: none;
  border: 1px solid #95a8b1;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #1f4068;
  }
}
