.Card {
  background-color: white;
  padding: 40px;
  width: 300px;
  box-shadow: 1px 1px 2px #ebeefe;
  &--text {
    text-align: center;
    font-size: 15px;
  }
  &--form {
    display: flex;
    flex-direction: column;
    .Input {
      width: 100%;
      height: 30px;
      margin: 10px 0;
      padding-left: 5px;
      box-sizing: border-box;
      border: 1px solid #96a8b1;
      border-radius: 2px;
      outline: none;
      &:focus {
        border: 1.5px solid #0a72a7;
      }
    }
  }
}
