.Header {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid #ebeefe;
  background-color: #1f4068;
  color: white;
  padding: 5px 20px;
  height: 40px;
  &--logo {
    font-size: 25px;
  }
}

.Container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10%;
}
