.Result {
  display: flex;
  flex-direction: column;
  text-align: center;

  &--text {
    margin: 20px 0;
  }

  &--positive {
    .icon-check {
      font-size: 50px !important;
      color: green;
    }
  }

  &--negative {
    .icon-close {
      font-size: 50px !important;
      color: red;
    }
  }

  &--back {
    width: 200px;
    align-self: center;
  }
}
