@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

@import "sass/Header.scss";
@import "sass/Card.scss";
@import "sass/Button.scss";
@import "sass/Result.scss";

/*f15e23, 1849a0*/
html {
  font-size: 16px !important;
  // font-family: "Open Sans";
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #f5f5f5;
}
